<%- include("Partials/header.ejs") %>


<!-- <h1>About Me</h1> -->
<img class="profile" src="images/iyyappan.jpg" alt="my profile">
<p>
  I'm Iyyappan, a passionate and dedicated Full Stack Web Developer from Tamil Nadu, India. I hold a Master’s degree in Computer Science and have been consistently growing my skills across both frontend and backend technologies.

On the frontend, I work with HTML, CSS, JavaScript, and React.js to create responsive, user-friendly web interfaces. On the backend, I have experience using Node.js and Express.js to handle server-side operations. For databases, I use PostgreSQL, and I’ve also explored Python at a basic level to support my backend logic.

One of my core projects is “Multiple Disease Prediction and Health Care Scheme”, a web application designed to help users predict diseases and connect with government schemes. It also includes a real-time chat system between patients and doctors for communication.

I’m confident in building full-stack applications, solving problems with code, and continuously learning new technologies. My goal is to work in a growth-focused company where I can contribute, learn from experienced developers, and build impactful digital solutions. Outside of coding, I enjoy exploring new tech, aerospace topics, and creating content on YouTube..</p>

  <%- include("Partials/footer.ejs") %>

