<%- include("Partials/header.ejs") %>


<!-- <h2>Contact Me</h2> -->

<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="submit" />
</form>


<%- include("Partials/footer.ejs") %>