<%- include("Partials/header.ejs") %>

<div class="project-container">
  

  <div class="project-card">
    <h2>Multiple Disease Prediction Web App</h2>
    <p>
A user-friendly web app that predicts multiple diseases based on medical input using ML and Django.</p>
    <!-- <a href="##" target="_blank" class="button-demo">Live Demo</a> -->
    <a href="https://github.com/iyyappan-sridhar/multiple-disease-prediction" target="_blank" class="btn btn-secondary">Code</a>
  </div>
</div>



<%- include("Partials/footer.ejs") %>